---
import "./style.css";
---

<nav class="bg-[#8E48FF] p-4">
  <div
    class="container mx-auto flex justify-between w-[100%] md:max-w-[1200px] items-center h-[10vh]"
  >
    <a href="#" class="text-white text-lg font-semibold">Inicio</a>
    <div class="hidden md:flex space-x-4">
      <a href="#1" class="text-gray-300 hover:text-white">Elemento 1</a>
      <a href="#2" class="text-gray-300 hover:text-white">Elemento 2</a>
      <a href="#3" class="text-gray-300 hover:text-white">Elemento 3</a>
      <a href="#4" class="text-gray-300 hover:text-white">Elemento 4</a>
    </div>
  </div>
</nav>
